
<% if user_signed_in? %>
  <% if current_user.admin? || current_user.professor?%>
    <%= link_to new_user_invitation_path do %>
      <i class="fa-solid fa-square-plus ms-3 mt-2 fs-1 fawesome-color"></i>
    <% end %>
  <% end %>
<% end %>

<table class="table mt-3">
  <thead>
    <tr class="text-start">
      <th>#</th>
      <th>Nome:</th>
      <th>Data de Nascimento:</th>
      <th>Contacto:</th>
      <th>NIF:</th>
      <th>Aulas:</th>
      <th>Horário Preferencial:</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr class="text-start">
        <td>
          <%= client.id %>
        </td>
        <td>
          <%= client.first_name %> <%= client.last_name %>
        </td>

        <% aluno = client.aluno_profile %>
        <td>
          <%= aluno.birthdate %>
        </td>
        <td>
          <%= client.first_name %> <%= client.last_name %>
        </td>
        <td>
          <%= client.first_name %> <%= client.last_name %>
        </td>
        <td>
          <%= client.first_name %> <%= client.last_name %>
        </td>
        <td>
          <%= client.first_name %> <%= client.last_name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
