<h1>Here will be all the classes for the day</h1>

<% @aulas.each do |aula| %>
  <ul>
    <li>
      <%= aula.occurs_date.strftime("%a, %d %b %Y") %>
    </li>

    <li>
      <%= aula.start_time.hour %><%=aula.start_time.min > 0 ? ":" + aula.start_time.min.to_s : "" %>h
    </li>

    <li>
      <%= aula.end_time.hour %><%=aula.end_time.min > 0 ? ":" + aula.end_time.min.to_s : "" %>h
    </li>
    <% if aula.booked? %>
      <li>
        You're booked
      </li>
    <% else %>
      <li>
        You're not booked
      </li>
    <% end %>
  </ul>
<% end %>
