<h1>Here will be all the classes for the day</h1>

<% if user_signed_in? %>
  <% if current_user.admin? || current_user.professor?%>
    <%= link_to "Create a new class", new_aula_path %>
  <% end %>
<% end %>


<% @aulas.each do |aula| %>
  <% bookings = Booking.where(aula_id: aula.id) %>

  <% if aula.occurs_date == Date.today %>
    <ul>
      <%= link_to "Edit", edit_aula_path(aula) %>
      <%= link_to "Destroy", aula_path(aula), data: { turbo_method: :delete, turbo_confirm: "Tem a certeza?" } %>
      <li><%= aula.title %></li>
      <li><%= aula.class_type %></li>
      <li><%= aula.occurs_date.strftime("%a, %d %b %Y") %></li>
      <li><%= aula.start_time.strftime("%H:%M") %></li>
      <li><%= aula.end_time.strftime("%H:%M") %></li>

      <% total_attendees = bookings.sum(:attendees) %>
      <% spots_available = aula.spots - total_attendees %>
      <li><%= "#{total_attendees}/#{aula.spots}" %></li>

      <% if user_signed_in? && !aula.spots.zero? %>

        <% booking = current_user.bookings.find_by(aula_id: aula.id) %>

        <% if booking.present? %>
          <% attendees_count = booking.attendees %>
          <% booking_status = "Aula marcada" %>
        <% else %>
          <% attendees_count = 0 %>
          <% booking_status = "" %>
        <% end %>

        <li>
          <% if booking.present? %>
            <%= link_to "Cancelar", aula_booking_path(aula, booking), data: { turbo_method: :delete }, class: "btn btn-primary" %>
          <% else %>
            <%= simple_form_for [aula, Booking.new], url: aula_bookings_path(aula), html: { method: :post } do |f| %>
              <%= f.hidden_field :attendees, value: attendees_count %>
              <%= f.hidden_field :status, value: booking_status %>
              <%= f.submit booking.present? ? 'Cancel Booking' : 'Book Class', class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </li>

      <% end %>
    </ul>
  <% end %>
<% end %>
