<%= render "booked_class_card" %>
<%= current_user.first_name %>
<h1>This is the today page</h1>

<% @aulas.each do |aula| %>
  <% booked_aula = @bookings.find { |booking| booking.aula_id == aula.id } %>
  <% if booked_aula.present? %>
    <div class="card mx-3 my-3">
      <div class="card-header">
        <div>
          <%= aula.title %>
        </div>
        <div>
          <%= link_to "Edit", edit_aula_path(aula) %>
          <%= link_to "Ver aula", aula_path(aula) %>
          <%= link_to "Destroy", aula_path(aula), data: { turbo_method: :delete, turbo_confirm: "Tem a certeza?" } %>
        </div>
      </div>

      <div class="card-body d-flex justify-content-around">
        <div class="d-flex flex-column justify-content-start  full-width">
          <p>
            <%= aula.class_type %>
          </p>
          <p>
            <%= aula.occurs_date.strftime("%d %b %Y") %>
          </p>
          <p>
            Das <%= aula.start_time.strftime("%H:%M") %> às <%= aula.end_time.strftime("%H:%M") %>
          </p>
        </div>


        <% if user_signed_in? && !aula.spots.zero? %>

          <% booking = current_user.bookings.find_by(aula_id: aula.id) %>

          <% if booking.present? %>
            <% attendees_count = booking.attendees %>
            <% booking_status = "Aula marcada" %>
          <% else %>
            <% attendees_count = 0 %>
            <% booking_status = "" %>
          <% end %>

          <div class="d-flex flex-column justify-content-center align-items-center">
            <% bookings = Booking.where(aula_id: aula.id) %>
            <% total_attendees = bookings.sum(:attendees) %>
            <% spots_available = aula.spots - total_attendees %>
            <h3>Vagas:</h3>
            <div
              <% if total_attendees === aula.spots%>
                class="text-red d-flex align-items-center mb-2"
              <% elsif total_attendees === aula.spots * 0.75 %>
                class="text-orange d-flex align-items-center mb-2"
              <% else %>
                class="text-green d-flex align-items-center mb-2"
              <% end %>>

              <%= "#{total_attendees}/#{aula.spots}" %>

            </div>

            <% if booking.present? %>
              <%= link_to "Cancelar", aula_booking_path(aula, booking), data: { turbo_method: :delete }, class: "btn btn-secondary" %>
            <% else %>
              <%= simple_form_for [aula, Booking.new], url: aula_bookings_path(aula), html: { method: :post } do |f| %>
                <%= f.hidden_field :attendees, value: attendees_count %>
                <%= f.hidden_field :status, value: booking_status %>
                <%= f.submit booking.present? ? '' : 'Marcar aula', class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </div>
    </div>



        <% end %>
    </div>

  <% else %>
    <h1>Não há aulas marcadas</h1>
    <% break %>
  <% end %>
<% end %>
