<h2 class="mx-3 mt-2"><%= t "devise.invitations.new.header" %></h2>

<%= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <%= resource.class.invite_key_fields.each do |field| -%>
    <div class="form-inputs mx-3">
      <%= f.input field, input_html: {placeholder: "example@example.com"} %>
      <%= f.input :role, as: :select, collection: ['aluno', 'professor'], prompt: "Selecionar uma opção", input_html: {class: "form-select"} %>
    </div>
  <% end -%>

  <div class="form-actions mx-3">
    <%= f.button :submit, t("devise.invitations.new.submit_button"), class: 'btn btn-primary' %>
  </div>
<% end %>
